<div class="main">
  <div class="heading">
    <h1>Find your cocktail!</h1>
    <input (keyup)="findCocktail($event)" placeholder="Find cocktail by ingredient" type="text">
  </div>
  <div class="images">
    <div class="image-card">
      <img *ngFor="let image of images; index as i"  src="{{image}}" alt="">
      <!-- <h6>name: {{ i}} </h6> -->
    </div>
  </div>
  <div class="list">
    <ul *ngFor="let ingredient of ingredientsList">
      <!-- <li (click)="findIncredients()">{{ingredient.strIngredient1}}</li> -->
    </ul>
  </div>
</div>
